.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed */
  }

  .project-card {
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 12px;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.1);
}

.phase-progress .progress-bar {
  transition: width 0.5s ease;
}

.form-range::-webkit-slider-thumb {
  background-color: var(--bs-primary);
}

.dropdown-menu {
  z-index: 1060; /* Au-dessus de tout */
}

.card {
  overflow: visible !important;
}

// Personnalisation du datepicker
.theme-dark-blue {
  .bs-datepicker {
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    
    .bs-datepicker-head {
      background-color: #3b5de7;
    }
    
    .bs-datepicker-body {
      table td span.selected {
        background-color: #3b5de7;
      }
    }
  }
}

// Centre le modal
.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

// Bouton de filtre de date
.btn-info {
  background-color: #3b5de7;
  border-color: #3b5de7;
  
  &:hover {
    background-color: #2a4bc9;
    border-color: #2a4bc9;
  }
}