<div class="login-container">
  <div class="login-left">
    <form (ngSubmit)="onSubmit()">
      <img src="assets/images/logoprodelec2024.png" alt="Logo">

      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        placeholder="username"
        [(ngModel)]="signInData.username"
        name="username"
        required
      />

      <label for="password">Mot de passe</label>
      <input
        type="password"
        id="password"
        placeholder="******"
        [(ngModel)]="signInData.password"
        name="password"
        required
      />

      <button type="submit" class="btn btn-signin" [disabled]="isSubmitting">
        {{ isSubmitting ? 'Connexion en cours...' : 'Sign In' }}
      </button>
    </form>

    <p *ngIf="error" class="error-message">{{ error }}</p>
  </div>
  <div
    class="login-right"
    style="
      background-color: white;
      background-image: url('assets/images/PRODELEC-North-AFRICA.png');
      background-size: cover;
      background-position: center;
    "
  >
    <!-- Section décorative ou info -->
  </div>
</div>
