<div class="container-fluid">
  <app-page-title title="Cahier des charges"></app-page-title>
</div>

<div class="row mb-3 align-items-end">
  <div class="col-sm-12 col-md-2 mb-3">
    <select [(ngModel)]="filterYear" class="form-control">
      <option value="">Tous</option>
      <option *ngFor="let year of getAvailableYears()" [value]="year">{{ year }}</option>
    </select>
  </div>
  <div class="col-sm-12 col-md-4 mb-3">
    <input type="text" [(ngModel)]="searchTitle" placeholder="Rechercher par titre" class="form-control" />
  </div>
  <div class="col-sm-12 col-md-6 mb-3 d-flex justify-content-end">
    <button class="btn btn-success" routerLink="/cdcUser/cdcArchive" style="margin-right: 10px">Voir l'archive</button>
    <button class="btn btn-success" (click)="openModal(addCdcModal)">Ajouter</button>
  </div>
</div>

<div *ngIf="getNonArchivedCahiers().length > 0; else nocahiers">
  <div class="table-responsive mb-0">
    <table class="table table-centered table-nowrap">
      <thead class="table-light">
        <tr>
          <th class="align-middle">Projet</th>
          <th class="align-middle" title="Trier par date" (click)="sortDevisByDate()" style="cursor: pointer;">
            Date de création
            <i class="mdi" [ngClass]="{'mdi-arrow-up': isAscending, 'mdi-arrow-down': !isAscending}"></i>
          </th>
          <th class="align-middle">Etat</th>
          <th class="align-middle">Details</th>
          <th class="align-middle">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cahier of getNonArchivedCahiers() | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
          <td class="text-body fw-bold">{{ cahier?.titre }}</td>
          <td>{{ cahier.createdAt | date:'short'  }}</td>
          <td>
            <span class="badge badge-pill font-size-11"
              [ngClass]="{
                'badge-soft-danger': cahier.etat === 'Refusé',
                'badge-soft-warning': cahier.etat === 'En attente',
                'badge-soft-info': cahier.etat === 'À compléter',
                'badge-soft-success': cahier.etat === 'Accepté'
              }">
              {{ cahier.etat }}
            </span>
          </td>
          <td>
            <button class="btn detail-custom" (click)="openDetailsModal(cahier.id!)" title="Détails">
              <i class="bx bxs-detail" style="font-size: medium;"></i>
            </button>
          </td>
          <td>
            <button class="btn" (click)="openDeleteModal(cahier.id!, deleteModal)" title="Archiver">
              <i class="mdi mdi-archive"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-container">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<ng-template #nocahiers>
  <div class="alert alert-info container">Aucun Cahier des Charges disponible.</div>
</ng-template>


<!-- Modal Ajout Cahier des Charges -->
<ng-template #addCdcModal>
  <div class="modal-header">
    <h4 class="modal-title">Ajouter un Cahier des Charges</h4>
    <button type="button" class="btn btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
  </div>
  <div class="modal-body">
    <app-add-cd-c (cahierDesChargesAdded)="handleCahierDesChargesAdded()"></app-add-cd-c>
  </div>
</ng-template>


