<div class="container">
  <form [formGroup]="addForm" (ngSubmit)="addF()" *ngIf="addForm">
    <div class="form-group">
      <label for="titre">Projet</label>
      <input 
        type="text" 
        id="titre" 
        class="form-control" 
        formControlName="titre">
      <div *ngIf="addForm.get('titre')?.invalid && (addForm.get('titre')?.dirty || addForm.get('titre')?.touched)" class="alert alert-danger">
        Le titre est requis et doit comporter au moins 3 caractères.
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea 
        id="description" 
        class="form-control" 
        formControlName="description"></textarea>
    </div>

    <div class="form-group">
      <label for="file">Pièce Jointe</label>
      <!-- Ne pas utiliser formControlName ici, car input file ne fonctionne pas bien avec Reactive Forms -->
      <input 
        type="file" 
        id="file" 
        class="form-control" 
        (change)="onFileSelected($event)">
    </div>

    <p style="color: red;">*Si vous avez plusieurs fichiers à envoyer, veuillez les compresser dans un fichier .rar ou .zip </p>

    <!-- Message d'erreur si description ET pièce jointe sont vides -->
    <div *ngIf="(addForm.get('description')?.value === '' || addForm.get('description')?.value == null) && !selectedFile && (addForm.get('description')?.touched || fileInputTouched)" class="alert alert-danger">
      La description ou la pièce jointe est obligatoire.
    </div>

    <div class="modal-footer">
      <button 
        type="submit" 
        class="btn btn-primary" 
        [disabled]="addForm.get('titre')?.invalid || ((addForm.get('description')?.value === '' || addForm.get('description')?.value == null) && !selectedFile)">
        Ajouter
      </button>
    </div>
  </form>
</div>
