<!-- cards.component.html -->
<div class="mb-4">
  <div class="row g-3">
    <!-- Clients -->
    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-blue ">
        <div class="card-block">
          <h6 class="m-b-20">Clients</h6>
          <h2 class="text-right"><span>{{ stats?.totalClients }}</span></h2>
          <h6 class="m-b-0">Connectés <span class="f-right">{{ stats?.connectedClients }}</span></h6>
        </div>
      </div>
    </div>

    <!-- Employés -->
    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-blue ">
        <div class="card-block">
          <h6 class="m-b-20">Employés</h6>
          <h2 class="text-right"><span>{{ stats?.totalEmployees }}</span></h2>
          <h6 class="m-b-0">Connectés <span class="f-right">{{ stats?.connectedEmployees }}</span></h6>
        </div>
      </div>
    </div>

    <!-- Pourcentage réclamations -->
    <div class="col-md-4 col-xl-3">
      <div class="card " [ngClass]="reclamationPercentage > setting?.reclamationTarget ? 'bg-c-pink' : 'bg-c-green'">
        <div class="card-block">
          <h6 class="m-b-20">Réclamations / Projets</h6>
          <h2 class="text-right">
            <span>{{ reclamationPercentage | number: '1.0-2' }}%</span>
          </h2>
          <h6 class="m-b-0">Projets terminés <span class="f-right">{{ projectsCompleted.length }}</span></h6>
        </div>
      </div>
    </div>

    <!-- Satisfaction -->
    <div class="col-md-4 col-xl-3">
      <div class="card bg-c-yellow ">
        <div class="card-block">
          <h6 class="m-b-20">Satisfaction</h6>
          <h2 class="text-right">
            <span>{{ avgTotal | number:'1.2-2' }}</span>
          </h2>
          <h6 class="m-b-0">Avis <span class="f-right">{{ avisList.length }}</span></h6>
        </div>
      </div>
    </div>

    <!-- Cartes dynamiques -->
    <div class="col-md-4 col-xl-3" *ngFor="let stat of statData">
      <div class="card h-100" [ngClass]="{
            'card-orders'   : stat.title === 'Commandes',
            'card-projects' : stat.title === 'Projets',
            'card-cancelled': stat.title === 'Commandes annulées',
            'card-completed': stat.title === 'Projets terminés',
            'card-delayed'  : stat.title === 'Projet retards'
          }">
        <div class="card-body d-flex flex-column justify-content-center">
          <div class="d-flex align-items-center mb-1">
            <i [class]="stat.icon" class="bx font-size-24 me-2"></i>
            <h5 class="card-title mb-0">{{ stat.title }}</h5>
          </div>
          <p class="card-text display-6 text-center mb-0">{{ stat.value }}</p>
        </div>
      </div>
    </div>
  </div>
</div>