<div class="profile-container" *ngIf="user">
    <h1 class="profile-title">{{ userType === 'user' ? 'User' : 'Worker' }} Profile</h1>
    <div class="profile-info">
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Name:</strong> {{ user.firstName }} {{ user.lastName }}</p>
        <p><strong>Role:</strong> {{ user.role }}</p>
        <p *ngIf="userType=='user'"><strong>Client:</strong> {{ user.partner.name }}</p>

    </div>
  <!--  <a routerLink="/edit-profile" class="edit-profile-link">Edit Profile</a>-->
</div>

<div class="error-message-container" *ngIf="errorMessage">
    <p class="error-message">{{ errorMessage }}</p>
</div>


