<ng-template #contentTemplate>
  <div id="sidebar-menu">
    <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
      <ng-container *ngFor="let item of menuItems">
        <li class="menu-title" *ngIf="item.isTitle">{{ item.label | translate }}</li>
        
        <li *ngIf="!item.isTitle">
          <!-- Élément avec sous-menu -->
          <a *ngIf="hasItems(item)" href="javascript:void(0);" class="is-parent has-arrow">
            <i class="bx {{item.icon}}" *ngIf="item.icon"></i>
            <span>{{ item.label | translate }}</span>
            <span class="badge rounded-pill float-end bg-{{item.badge?.variant}}" *ngIf="item.badge">
              {{item.badge?.text | translate}}
            </span>
          </a>

          <!-- Élément sans sous-menu -->
          <a *ngIf="!hasItems(item)" 
             [routerLink]="item.link" 
             class="side-nav-link-ref" 
             routerLinkActive="active">
            <i class="bx {{ item.icon }}" *ngIf="item.icon"></i>
            <span>{{ item.label | translate }}</span>
            <span class="badge rounded-pill bg-{{item.badge?.variant}} float-end" *ngIf="item.badge">
              {{item.badge?.text | translate}}
            </span>
          </a>

          <!-- Sous-menus -->
          <ul *ngIf="hasItems(item)" class="sub-menu" aria-expanded="false">
            <li *ngFor="let subitem of item.subItems">
              <!-- Sous-élément sans enfants -->
              <a *ngIf="!hasItems(subitem)" 
                 [routerLink]="subitem.link" 
                 class="side-nav-link-ref" 
                 routerLinkActive="active">
                {{ subitem.label | translate }}
                <span class="badge rounded-pill bg-{{subitem.badge?.variant}} float-end" *ngIf="subitem.badge">
                  {{subitem.badge?.text | translate}}
                </span>
              </a>
              
              <!-- Sous-élément avec enfants -->
              <a *ngIf="hasItems(subitem)" 
                 href="javascript:void(0);" 
                 class="side-nav-link-a-ref has-arrow">
                {{ subitem.label | translate }}
              </a>
              
              <!-- Sous-sous-menus -->
              <ul *ngIf="hasItems(subitem)" class="sub-menu mm-collapse" aria-expanded="false">
                <li *ngFor="let subSubitem of subitem.subItems">
                  <a [routerLink]="subSubitem.link" 
                     class="side-nav-link-ref"
                     routerLinkActive="active">
                    {{ subSubitem.label | translate }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
</ng-template>

<div class="vertical-menu">
  <ngx-simplebar class="h-100" #componentRef>
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </ngx-simplebar>
</div>