<div class="modal-header">
  <h5 class="modal-title">Recadrer l'image</h5>
  <button type="button" class="btn-close" (click)="bsModalRef.hide()"></button>
</div>

<div class="modal-body">
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1"
    format="jpeg"
    (imageCropped)="imageCropped($event)">
  </image-cropper>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Annuler</button>
  <button type="button" class="btn btn-primary" (click)="crop()" [disabled]="!croppedImage">Valider</button>
</div>