<!-- dashboard.component.html -->
<div *ngIf="userType === 'user'">
  <div class="dashboard-container">
    <h1>Dashboard</h1>
<div *ngIf="userType === 'user' && showAlert" class="alert alert-success mt-3 d-flex justify-content-between align-items-center">
  <p class="mb-0">{{ alertMessage }}</p>
  <button class="btn btn-primary" routerLink="/avis">Ajouter un nouvel avis</button>
</div>
</div>
</div>
<div *ngIf="userType === 'worker'">
<div class="dashboard-container">
    <h1>Dashboard</h1>



<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3" *ngIf="userType === 'worker'" >
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Client</h6>
                    <h2 class="text-right"><span>{{ partners.length }}</span></h2>
                    <p class="m-b-0">Utilistaeur<span class="f-right">{{ users.length }}</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3" *ngIf="userType === 'worker'">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Employé</h6>
                    <h2 class="text-right"><span>{{ workers.length }}</span></h2>
                    <p class="m-b-0">Employé Connecter<span class="f-right">{{ totalWorkerConnect }}</span></p>
                </div>
            </div>
        </div>
    
        <div *ngIf="reclamationPercentage > 3" class="col-md-4 col-xl-3">
          <div  class="card bg-c-pink order-card">
            <div class="card-block">
              <h6 class="m-b-20">Reclamations Percentage</h6>
              <h2 class="text-right"><span>{{ reclamationPercentage | number: '1.0-2' }}%</span></h2>
              <p class="m-b-0">Completed Projects<span class="f-right">{{ projectsterm.length }}</span></p>
            </div>
          </div>
        </div>
        <div *ngIf="reclamationPercentage <= 3" class="col-md-4 col-xl-3">
          <div  class="card bg-c-green order-card">
            <div class="card-block">
              <h6 class="m-b-20">Reclamations Percentage</h6>
              <h2 class="text-right"><i class="fa fa-exclamation-circle f-left"></i><span>{{ reclamationPercentage | number: '1.0-2' }}%</span></h2>
              <p class="m-b-0">Completed Projects<span class="f-right">{{ projectsterm.length }}</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3" *ngIf="userType === 'worker'">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Satisfaction</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>{{ avgTotal | number:'1.2-2' }}</span></h2>
                    <p class="m-b-0">Nombre d'avis<span class="f-right">{{ avisList.length }}</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3" *ngFor="let stat of statData">
          <div class="card " [ngClass]="{
            'card-orders': stat.title === 'Commandes',
            'card-projects': stat.title === 'Projets',
            'card-cancelled': stat.title === 'Commandes annulées',
            'card-completed': stat.title === 'Projets terminés',
            'card-delayed': stat.title === 'Projet retards'
          }">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <i [class]="stat.icon" class="bx font-size-24 me-3"></i>
                <h5 class="card-title mb-0">{{ stat.title }}</h5>
              </div>
              <p class="card-text font-size-24 mt-3 mb-0">{{ stat.value }}</p>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <!-- Reclamation Status -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Reclamation Status</h4>
            <div class="row mb-3">
              <div class="col-sm-12 col-md-8">
                <!-- Dropdown for user selection -->
                <select class="form-select mb-3" (change)="onUserChangeReclamation($event)">
                  <option value="">Tous les clients</option>
                  <option *ngFor="let user of users" [value]="user.id">{{ user.email }}</option>
                </select>
              </div>
              <!-- Dropdown for year selection -->
              <div class="col-sm-12 col-md-4">
                <select class="form-select mb-3" (change)="onYearChangeReclamation($event)">
                  <option value="">Toutes les années</option>
                  <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                </select>
              </div>
            </div>
            <!-- ApexCharts component for Reclamation -->
            <div class="d-flex justify-content-center">
              <apx-chart class="apex-charts" dir="ltr"
                         [series]="chartOptionsReclamations.series"
                         [chart]="chartOptionsReclamations.chart"
                         [labels]="chartOptionsReclamations.labels"
                         [legend]="chartOptionsReclamations.legend"
                         [tooltip]="chartOptionsReclamations.tooltip"
                         [colors]="chartOptionsReclamations.colors"
                         [responsive]="chartOptionsReclamations.responsive">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Cahier Des Charges Status -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Cahier Des Charges Status</h4>
            <div class="row mb-3">
              <div class="col-sm-12 col-md-8">
                <!-- Dropdown for user selection -->
                <select class="form-select mb-3" (change)="onUserChangeCahier($event)">
                  <option value="">Tous les clients</option>
                  <option *ngFor="let user of usersCdc" [value]="user.id">{{ user.email }}</option>
                </select>
              </div>
              <!-- Dropdown for year selection -->
              <div class="col-sm-12 col-md-4">
                <select class="form-select mb-3" (change)="onYearChangeCahier($event)">
                  <option value="">Toutes les années</option>
                  <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                </select>
              </div>
            </div>
            <!-- ApexCharts component for CahierDesCharges -->
            <div class="d-flex justify-content-center">
              <apx-chart class="apex-charts" dir="ltr"
                         [series]="chartOptionsCahiersDesCharges.series"
                         [chart]="chartOptionsCahiersDesCharges.chart"
                         [labels]="chartOptionsCahiersDesCharges.labels"
                         [legend]="chartOptionsCahiersDesCharges.legend"
                         [colors]="chartOptionsCahiersDesCharges.colors"
                         [responsive]="chartOptionsCahiersDesCharges.responsive">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Devis Status -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Devis Status</h4>
            <div class="row mb-3">
              <div class="col-sm-12 col-md-8">
                <!-- Dropdown for user selection -->
                <select class="form-select mb-3" (change)="onUserChangeDevis($event)">
                  <option value="">Tous les clients</option>
                  <option *ngFor="let user of users" [value]="user.id">{{ user.email }}</option>
                </select>
              </div>
              <!-- Dropdown for year selection -->
              <div class="col-sm-12 col-md-4">
                <select class="form-select mb-3" (change)="onYearChangeDevis($event)">
                  <option value="">Toutes les années</option>
                  <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                </select>
              </div>
            </div>
            <!-- ApexCharts component for Devis -->
            <div class="d-flex justify-content-center">
              <apx-chart class="apex-charts" dir="ltr"
                         [series]="chartOptionsDevis.series"
                         [chart]="chartOptionsDevis.chart"
                         [labels]="chartOptionsDevis.labels"
                         [legend]="chartOptionsDevis.legend"
                         [tooltip]="chartOptionsDevis.tooltip"
                         [colors]="chartOptionsDevis.colors"
                         [responsive]="chartOptionsDevis.responsive">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
          <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Projets Status</h4>
            <div class="row mb-3">
           <p style="margin-top: 16px;"> <br> </p>
           <br> 
            <!-- ApexCharts component for Reclamation -->
            <div class="d-flex justify-content-center">
              <apx-chart class="apex-charts" dir="ltr"
                         [series]="chartOptionsProjet.series"
                         [chart]="chartOptionsProjet.chart"
                         [labels]="chartOptionsProjet.labels"
                         [legend]="chartOptionsProjet.legend"
                         [tooltip]="chartOptionsProjet.tooltip"
                         [colors]="chartOptionsProjet.colors"
                         [responsive]="chartOptionsProjet.responsive">
              </apx-chart>
            </div>
          </div>
        </div>
    </div>
    
    
</div>

</div>
</div>
