<!-- details-cdc-modal.component.html -->
<div class="modal-header">
  <h5 class="modal-title">Détails du Cahier des Charges</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.hide()"></button>
</div>
<div class="modal-body modal-body-centered">
  <div class="mb-3">
    <p><strong>Titre:</strong> {{ cahier?.titre }}</p>
    <p *ngIf="cahier?.createdAt"><strong>Date de création:</strong> {{ cahier.createdAt | date:'short'  }}</p>
    <p *ngIf="cahier?.user"><strong>Client:</strong> {{ cahier.user?.username }} ({{ cahier.user?.partner?.name }})</p>

    <div class="mb-3">
      <strong>État:</strong>
      <span class="badge badge-pill font-size-13"
        [ngClass]="{
          'badge-soft-danger': cahier?.etat === 'Refusé',
          'badge-soft-warning': cahier?.etat?.toLowerCase() === 'En attente',
          'badge-soft-info': cahier?.etat === 'À compléter',
          'badge-soft-success': cahier?.etat === 'Accepté'
        }">
        {{ cahier?.etat }}
      </span>
    </div>

    <!-- Section des fichiers -->
    <div *ngIf="cahier?.files && cahier.files.length > 0">
      <p><strong>Fichiers:</strong></p>
      <div *ngFor="let file of cahier.files" class="d-flex align-items-center mb-2">
        <div class="attachment-icon me-2">
          <i class="bx bxs-file-pdf"></i>
        </div>
        <div class="attachment-details flex-grow-1">
          <a [href]="getDownloadLink(file.nomFichier)" target="_blank" rel="noopener noreferrer">
            {{ file.nomFichier }}
          </a>
        </div>
        <button class="btn btn-sm btn-danger" (click)="deleteFile(file.id)" title="Supprimer ce fichier">
          <i class="mdi mdi-delete"></i>
        </button>
      </div>
    </div>

    <button class="btn btn-primary mb-3" (click)="openUploadModal()">
      Ajouter un fichier
    </button>
  </div>

  <hr />

  <div *ngIf="cahier?.commentaire">
    <p><strong>Commentaire:</strong> {{ cahier.commentaire }}</p>
  </div>

  <div *ngIf="cahier?.etat === 'À compléter'" class="mt-3">
    <div class="alert alert-info d-flex align-items-center">
      <i class="bx bx-info-circle me-2" style="font-size: 1.5rem;"></i>
      Le responsable a demandé des fichiers supplémentaires
    </div>
  </div>
</div>