<div class="container">
  <h1>Liste des notifications</h1>

  <input type="text" class="form-control mb-3" placeholder="Recherche par utilisateur, titre, message"
         [(ngModel)]="searchNotification" (input)="searchNotificationBy()">

  <div class="table-responsive mb-0">
    <table class="table table-centered table-nowrap">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Titre</th>
          <th>Message</th>
          <th>Créé par</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let notification of notifications | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
          <td>{{ notification.id }}</td>
          <td>{{ notification.title }}</td>
          <td>{{ notification.message }}</td>
          <td>{{ notification.createdBy || 'Système' }}</td>
          <td>
            <button *ngIf="user?.role === 'ADMIN' || user?.role === 'SUBADMIN'" type="button" class="btn btn-danger btn-sm"
                    (click)="deleteNotification(notification.id)">
              Supprimer
            </button>
            <button *ngIf="!notification.read" type="button" class="btn btn-primary btn-sm"
                    (click)="markNotificationAsRead(notification.id)">
              Marquer comme lu
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
